repos:
  # ------------------------
  # Go Formatting & Analysis
  # ------------------------
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c "go fmt ./..."
        language: system
        pass_filenames: false
        types: [go]

      - id: go-imports
        name: go imports
        entry: bash -c "goimports -w ."
        language: system
        pass_filenames: false
        types: [go]

      - id: go-vet
        name: go vet
        entry: bash -c "go vet ./..."
        language: system
        pass_filenames: false
        types: [go]

      - id: install-gosec
        name: Install gosec if missing
        entry: bash -c 'command -v gosec >/dev/null 2>&1 || go install github.com/securego/gosec/v2/cmd/gosec@latest'
        language: system
        pass_filenames: false
        always_run: true

  # ------------------------
  # GolangCI-Lint (aggregated linters)
  # ------------------------
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.62.0
    hooks:
      - id: golangci-lint
        entry: bash -c "golangci-lint run ./..."
        language: system
        pass_filenames: false
        always_run: true
        types: [go]
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-sec-repo-mod
        name: Go Security Checker
        args:
          - -severity
          - high
          - -confidence
          - medium
          - -fmt
          - text
          - -tests
  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.18
    hooks:
      - id: forbid-binary
        exclude: .png|.jpg|.pdf|.sdumodel|.tar.gz
      - id: shellcheck
      - id: go-fmt
  - repo: https://github.com/ibm/detect-secrets
    rev: 0.13.1+ibm.64.dss
    hooks:
      - id: detect-secrets
        args:
          [
            "--baseline",
            ".secrets.baseline",
            "--fail-on-unaudited",
            "--use-all-plugins",
          ]
        exclude: go.sum
  # ------------------------
  # General Code Hygiene
  # ------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.0
    hooks:
      - id: typos
        name: typos (warning only)
        description: "Checks for typos in repo and displays suggestions as warnings but won't block commits. Fix typos manually or add exceptions to ci/.typos.toml file"
        files: ^.*\.(go|md|json|yaml|yml)$
        exclude: |
          (?x)^(
          .*\.svg|
          .*\.pdf|
          go\.sum|
          go\.mod|
          \.git/.*
          )$
        entry: bash -c 'typos --format=brief "$@" | sed "s/\`//g" || true'
        verbose: true
