name: "OpenSSF Scorecard"

on:
    schedule:
        - cron: "0 3 * * 1"
    push:
        branches: [main]

permissions:
    security-events: write
    contents: read
    id-token: write

jobs:
    analysis:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Run Scorecard
              uses: ossf/scorecard-action@v2
              with:
                  publish_results: true
